PPLX_API_KEY="op://{{ .onepassword.vault }}/perplexity/api_key"
EXA_API_KEY="op://{{ .onepassword.vault }}/exa/key"
CLAUDE_CODE_OAUTH_TOKEN="op://{{ .onepassword.vault }}/claude/token"
LINEAR_API_KEY="op://{{ .onepassword.vault }}/linear/key"
OPENROUTER_API_KEY="op://{{ .onepassword.vault }}/openrouter/api_key"
