OPENAI_API_KEY="op://{{ .onepassword.vault }}/openai/credential"
ANTHROPIC_API_KEY="op://{{ .onepassword.vault }}/anthropic/credential"
PPLX_API_KEY="op://{{ .onepassword.vault }}/perplexity/api_key"
EXA_API_KEY="op://{{ .onepassword.vault }}/exa/key"
CLAUDE_CODE_OAUTH_TOKEN="op://{{ .onepassword.vault }}/claude/token"
