{
  "defaultModel": "gpt-5.4",
  "defaultProvider": "openai-codex",
  "defaultThinkingLevel": "high",
  "hideThinkingBlock": false,
  "lastChangelogVersion": "0.67.6",
  "enableInstallTelemetry": true,
  "theme": "dark",
  "packages": [
    "{{ .paths.ai_toolbox }}"
  ],
  "enabledModels": [
    "anthropic/claude-sonnet-4-6",
    "openai-codex/gpt-5.3-codex",
    "openai-codex/gpt-5.4",
    "ollama/gemma4",
    "ollama/qwen3.6:35b-a3b"
  ]
}
